/* Added this file to satisfy Hackbright's project requirement*/
* {
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto";
  background-color: #414A5E;
} 

div {
  padding: 10px 0;
  text-align: center;
}