<!-- Added this page to satisfy Hackbright's project requirement -->
{% extends 'base.html' %}
{% block title %}About this page{% endblock %}

{% block body %}
<div>
  This page is not part of my one-page React web app "The Movie Date".
</div>
<div>
  This page is added to satisfy Hackbright's capstone project requirement to have at least one jinja template that uses
  template inheritance and one css file.
</div>
<div>
  "The Movie Date" is a one-page React app with Flask backend, styled with Chakra, and does not need jinja templating
  and css files.
</div>
{% endblock %}