{% extends 'base.html' %}
{% block title %}Create Event{% endblock %}

{% block body %}
  <p>Please enter event details below and search for up to 5 movies to include in your event.</p>
  <p>Once your invitation is sent, you and your friends can vote for the favorite movie to watch together.</p>
  <div>
      <section class="event-details">
      <form action="/events/create-event" method="POST">
        <div class="event-name-date-time">
          <label for="event-title">Event name:</label>
          <input type="text" name="title" id="event-title" required>
          <br>
          <label for="event-date">Select a date:</label>
          <input type="date" name="date" id="event-date" required>
          <br>
          <label for="event-time">Select a time:</label>
          <input type="time" name="time" id="event-time" required>
          <br>
        </div>
        <div class="emails">
          <p>Email friend(s) that you would like to RSVP:</p>
          <input type="email" name="friends" id="friend" placeholder="Type email..."><br>
        </div>
        <br>
        <button type="button" id="add-friend">Add another friend</button>
        <br>
        <div class="movie-list">
          <p>Movies added:</p>
          <ol id="movies-added"></ol>
        </div>
        <br>
        <button type="submit">Create Event</button>
      </form>
    </section>
    <br>
    <p>Search and add up to 5 movies to your event:</p>
    <form id="movie-keyword">
      <input type="search" name="keyword" id="keyword" placeholder="Type keyword...">
      <button type="submit">Search</button>
    </form>
    <br>
    <section id="movie-results"></section>
  </div>
{% endblock %}
