{% extends 'base.html' %}
{% block title %}Event Details{% endblock %}

{% block body %}
<div class="event-details">
  <h2>Event Details</h2>
  <ul>
    <li>Event name: {{ event.title}} </li>
    <li>Event date: {{ event.event_at.date() }} </li>
    <li>Event time: {{ event.event_at.time() }} </li>
  </ul>
</div>

<div class="rsvp-status">
  <h2>RSVP Status</h2>
  <ol>{% for participant in event.participants %}
    <li>Participant email: {{ participant.email }}
        {% if participant.is_host == True %}
          (host)
          <br>RSVP status: Attending
        {% elif participant.email == session.get('current_user_email') or participant.email == session.get('invitee_user_email') %}
          <br>RSVP status:
          {% if participant.RSVP == False %}
          <div class="ind-rsvp-status" style.display="">Not attending</div>
          {% elif participant.RSVP == True %}
          <div class="ind-rsvp-status" style.display="">Attending</div>
          {% elif participant.RSVP == None %}
          <div class="ind-rsvp-status" style.display="">Awaiting response</div>
          {% endif %}
          <div id="rsvp-instant-update"></div>
          <br>Please RSVP: <button type="button" class="btn-rsvp-yes" value={{ event.event_id }}>YES</button>
                           <button type="button" class="btn-rsvp-no" value="{{ event.event_id }}">NO</button>
        {% else %}
          <br>RSVP status:
          {% if participant.RSVP == False %}
          <div>Not attending</div>
          {% elif participant.RSVP == True %}
          <div>Attending</div>
          {% elif participant.RSVP == None %}
          <div>Awaiting response</div>
          {% endif %}
        {% endif %}
    </li><br>
    {% endfor %}
  </ol>
</div>

<div class="voting-status">
  <h2>Voting Status</h2>
  <p>Check out movie details below.</p>
  <p>Vote for your favourite movie to watch together!</p>
  {% for movie in movies_data %}
  <ul>
    <li>Movie title: {{ movie['title'] }}<br>Total number of votes: <span id="vote-{{ movie['api_id'] }}">{{ movie['vote'] }}</span></li>
    <form class="movie-votes">
      <input id="vote-api-id" type="hidden" value="{{ movie['api_id'] }}">
      <input id="vote-event-id" type="hidden" value="{{ event.event_id }}">
      <button type="submit">Vote Me!</button>
    </form>
  </ul>
  {% endfor %}
</div>

<div class="movie-details">
  <h2>Movie Details</h2>
    {% for movie in movies_data %}
    <img src="https://image.tmdb.org/t/p/original{{ movie['poster'] }}" alt="poster" width="100"/><br>
    <p>Movie title: {{ movie['title'] }}</p>
    <details>
      <summary>More details:</summary>
      <p>Genres: {{ movie['genres'] }}</p>
      <p>Runtime: {{ movie['runtime'] }}</p>
      <p>Popularity: {{ movie['popularity'] }}</p>
      <p>Release date: {{ movie['release_date'] }}</p>
      <p>Overview: {{ movie['overview'] }}</p>
    </details>
    <br><br>
    {% endfor %}
</div>
{% endblock %}