<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    <div id="root"></div>
    
    <script type="text/jsx" src="/static/js/Logout.jsx"></script>

    <script type="text/jsx" src="/static/js/useToken.jsx"></script>
    <script type="text/jsx" src="/static/js/Login.jsx"></script>
    <script type="text/jsx" src="/static/js/Signup.jsx"></script>
    <script type="text/jsx" src="/static/js/Index.jsx"></script>

    <script type="text/jsx" src="/static/js/EventAt.jsx"></script>
    <script type="text/jsx" src="/static/js/EventEmails.jsx"></script>
    <script type="text/jsx" src="/static/js/EventMovieListItem.jsx"></script>
    <script type="text/jsx" src="/static/js/EventMovieList.jsx"></script>
    <script type="text/jsx" src="/static/js/SearchMoviesListItem.jsx"></script>
    <script type="text/jsx" src="/static/js/SearchMovies.jsx"></script>
    <script type="text/jsx" src="/static/js/CreateEvent.jsx"></script>

    <script type="text/jsx" src="/static/js/Events.jsx"></script>
    <script type="text/jsx" src="/static/js/EventsListItem.jsx"></script>
    <script type="text/jsx" src="/static/js/MoviePoster.jsx"></script>
    <script type="text/jsx" src="/static/js/ShowEventDetails.jsx"></script>

    <script type="text/jsx" src="/static/js/ShowEvent.jsx"></script>
    <script type="text/jsx" src="/static/js/ShowEventDetails.jsx"></script>
    <script type="text/jsx" src="/static/js/MoviePoster.jsx"></script>

    <script type="text/jsx" src="/static/js/App.jsx"></script>
  </body>
</html>